---
import CameraCapture from "../components/camera-capture.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/src/styles/shared.css" />
		<title>WImage</title>
	</head>
	<body>
		<h1>WImage</h1>
		<p>
			Capture an image from your camera and and we tell you something about it
		</p>
		<CameraCapture />
	</body>
</html>

<style>
	h1 {
		color: #333;
	}

	p {
		color: #666;
	}
</style>
